black
python-dotenv
flask-cors
flask-restful
flask-restless
flask-SQLAlchemy
marshmallow-sqlalchemy
requests
SQLAlchemy
selenium
flask-marshmallow==0.14.0
marshmallow==3.13.0
Flask==1.1.2
uWSGI==2.0.19.1
